version: '3.8'
services:
  gitlab-runner:
    image: gitlab/gitlab-runner:alpine
    container_name: gitlab-runner
    network_mode: 'host'
    entrypoint: [""]
    command: ["/bin/sh", "-c", "gitlab-runner register \
                                      --non-interactive \
                                      --url 'http://${HOST}:8088' \
                                      --registration-token 'r3g1str4t10n' \
                                      --executor 'docker' \
                                      --docker-network-mode "swarm"
                                      --docker-image 'alpine:latest' \
                                      --description 'home-office docker runner' \
                                      --tag-list 'home-office,testing,docker' \
                                      --run-untagged 'false' \
                                      --locked 'false'"
            && gitlab-runner run --user=gitlab-runner --working-directory=/etc/gitlab-runner"]